doctype html
html
  head
    title Create a new Joke
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
    link(href='/css/style.css', rel="stylesheet")
  body
    div.row
      div.col-sm-12
        img.logo(src='/images/logo-joke.gif')
    block content